/* common */
.container {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}
.inner {
  position: relative;
  max-width: 1500px;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  border: 5px solid orange;
}
.inner .header-top {
  position: absolute;
  width: 100%;
  height: 20px;
  left: 0;
  right: 0;
  margin: auto 0;
}
/* SECTION-LEFT */
.inner .header-top .section_left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.inner .header-top .section_left ul {
  display: flex;
}
.inner .header-top .section_left ul li {
  position: relative;
  padding-left: 10px;
}
.inner .header-top .section_left ul li:last-child {
  padding-left: none;
}
.inner .header-top .section_left ul li::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 12px;
  background: #ddd;
  top: 4px;
  left: 5px;
}
.inner .header-top .section_left ul li:first-child::after{
  display: none;
}
.inner .header-top .section_left ul li a {
  font-size: 12px;
  text-decoration: none;
  color: #999;
}
.inner .header-top .section_left ul li a:hover {
  color: #000;
}

/* SECTION-RIGHT */
.inner .header-top .section_right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.inner .header-top .section_right ul {
  display: flex;
}
.inner .header-top .section_right ul li {
  position: relative;
  padding-right: 10px;
}
.inner .header-top .section_left ul li:last-child {
  padding-right: none;
}
.inner .header-top .section_right ul li strong {
 background-color: #ddd;
 border-radius: 2px;
 color: #000; 
}
.inner .header-top .section_right ul li::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 12px;
  background: #ddd;
  top: 4px;
  right: 5px;
}
.inner .header-top .section_right ul li:last-child::after {
  display: none;
}
.inner .header-top .section_right ul li a {
  font-size: 12px;
  text-decoration: none;
  color: #999;
}
.inner .header-top .section_right ul li a > span {
  padding-left: 3px;
}
.inner .header-top .section_right ul li a > div {
  font-size: 13px;
  color: #ccc;
  position: relative;
  top: 2px;
}
.inner .header-top .section_right ul li a:hover {
  color: #000;
}