/* common */
.ht-container {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
.inner {
  position: relative;
  max-width: 1500px;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  /* border: 2px solid orange; */
}
.inner .header-top {
  position: absolute;
  width: 100%;
  height: 20px;
  left: 0;
  right: 0;
  margin: auto 0;
}

/* SECTION-LEFT */
.inner .header-top .section_left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.inner .header-top .section_left ul {
  display: flex;
}
.inner .header-top .section_left ul li {
  position: relative;
  padding-left: 10px;
}
.inner .header-top .section_left ul li:last-child {
  padding-left: none;
}
.inner .header-top .section_left ul li::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 12px;
  background: #ddd;
  top: 4px;
  left: 5px;
}
.inner .header-top .section_left ul li:first-child::after{
  display: none;
}
.inner .header-top .section_left ul li a {
  font-size: 12px;
  text-decoration: none;
  color: #999;
}
.inner .header-top .section_left ul li a:hover {
  color: #000;
}

/* SECTION-RIGHT */
.inner .header-top .section_right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.inner .header-top .section_right ul {
  display: flex;
}
.inner .header-top .section_right ul li {
  position: relative;
  padding-right: 10px;
}
.inner .header-top .section_left ul li:last-child {
  padding-right: none;
}
.inner .header-top .section_right ul li strong {
 background-color: #ddd;
 border-radius: 2px;
 color: #000; 
}
.inner .header-top .section_right ul li::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 12px;
  background: #ddd;
  top: 4px;
  right: 5px;
}
.inner .header-top .section_right ul li:last-child::after {
  display: none;
}
.inner .header-top .section_right ul li a {
  font-size: 12px;
  text-decoration: none;
  color: #999;
}
.inner .header-top .section_right ul li a > span {
  padding-left: 3px;
}
.inner .header-top .section_right ul li a > div {
  font-size: 14px;
  color: #ccc;
  position: relative;
  top: 2px;
}
.inner .header-top .section_right ul li a:hover {
  color: #000;
}

/* HEADER-BOTTOM */
.inner .header-bottom {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 20px;
  bottom: 0;
}
.inner .header-bottom .main_title {
  width: 250px;
  position: absolute;
  bottom: 25px;
  left: 10px;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 10px;
}
.inner .header-bottom .main_title a {
  color: #232323;
  text-decoration: none;
}
.inner .header-bottom .section_left-b {
  width: 500px;
  position: absolute;
  bottom: 25px;
  left: 280px;
}
.inner .header-bottom .section_left-b ul {
  display: flex;
  letter-spacing: 1px;
}
.inner .header-bottom .section_left-b ul li {
  font-size: 13px;
  margin-right: 45px;
  font-weight: 700;
  color: #999;
  
}
.inner .header-bottom .section_left-b ul li:last-child::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 13px;
  background: #ddd;
  top: 0;
  right: 30px;
}
.inner .header-bottom .section_left-b ul li:first-child {
  font-size: 13px;
  font-weight: 700;
  color: #A50000;
}
.inner .header-bottom .section_right-b {
  width: 650px;
  position: absolute;
  bottom: 25px;
  right: 80px;
}
.inner .header-bottom .section_right-b ul {
  display: flex;
  letter-spacing: 1px;
}
.inner .header-bottom .section_right-b ul li {
  font-size: 13px;
  margin-right: 45px;
  font-weight: 700;
  color: #999;
  
}